<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User listㅋ</title>
    <style>
        table {
            border: double 1px
        }
        tr {
            border: solid 1px;
        }
        td {
            border: solid 1px;
        }
    </style>
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>phone</td>
            <td>website</td>
            <td>doubled name</td>
        </tr>
        {{#user}}
        {{>users/list-item}}
        {{/user}}
    </table>
</div>
</body>
</html>