{{>layout/header}}
<div class="container mb-5">
    <h4>
        logout
    </h4>
    <div>
        <form action='/logout' method='GET'>
            <button type="submit">logout</button>
        </form>
    </div>
</div>
<div class="container mb-5">
    <form action='/' method='POST'>
        title : <input type="text" name="title" />
        content : <input type="text" name="content" />
        author : <input type="text" name="author" />
        <button type="submit">create post</button>
    </form>
</div>
<div class="container mb-5">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {{#postList}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{author}}</td>
            </tr>
            {{/postList}}
        </tbody>
    </table>
</div>
<div class="container mb-5">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Head</th>
            <th>Body</th>
        </tr>
        </thead>
        <tbody>
        {{#taskList}}
        <tr>
            <td>{{id}}</td>
            <td>{{head}}</td>
            <td>{{body}}</td>
        </tr>
        {{/taskList}}
        </tbody>
    </table>
</div>
{{>layout/footer}}