<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h4>
            login
        </h4>
        <div>
            <form action='/login' method='POST'>
                <fieldset>
                    <label for="username">username</label>
                    <input type="text" name="username" id="username" />
                    <label for="password">password</label>
                    <input type="text" name="password" id="password" />
                    <button type="submit">login</button>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>