{{>layout/header}}
<div>
    <h4>
        login
    </h4>
    <div>
        <form action='/login' method='POST'>
            <fieldset>
                <label for="username">username</label>
                <input type="text" name="username" id="username" />
                <label for="password">password</label>
                <input type="text" name="password" id="password" />
                <button type="submit">login</button>
            </fieldset>
        </form>
    </div>
</div>
{{>layout/footer}}